@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@400;700&display=swap');
:root {
    --bodyFont: 'Lato', sans-serif;
    --headings: 'Poppins', sans-serif;
    --gray1: #515365;
    --gray2: #4e5062;
    --gray3: #4b4d5e;
    --gray4: #484a5a;
    --purple: #6e2594;
    --yellow: #ecd444;
    --text: #444444;
    --white: #fff;
    --transition: .3s ease;
    --font: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFont);
    font-size: var(--font);
    line-height: 1.6;
    color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--headings);
}
a {
    transition: var(--transition);
}
button {
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: var(--transition);
}

/* nav */
nav {
    text-align: center;
    background: linear-gradient(to right, var(--purple), var(--yellow));
    height: 55px;
    line-height: 55px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: var(--white);
    margin: 30px;
    text-decoration: none;
}
nav ul li a:hover {
    color: var(--purple);
}
nav i {
    font-size: 2rem;
    position: relative;
    top: 5px;
}

/* header */
header {
    background-image: linear-gradient(rgba(110, 37, 148, .9), rgba(110, 37, 148, .9)), url(img/header.jpg);
    padding: 200px;
    background-position: center;
    background-size: cover;
    color: var(--white);
    text-align: center;
}
header h1 {
    font-size: 4rem;
    letter-spacing: 2px;
}
header h1::after,
.cta h2::after {
    display: block;
    content: "";
    height: 4px;
    width: 80px;
    background: var(--yellow);
    margin: 30px auto;
}
header h4 {
    font-size: 1.4rem;
}
header button {
    background: var(--white);
    color: var(--purple);
}
header button:hover {
    background: var(--yellow);
}

/* about */
.about {
    color: var(--white);
}
.about article div {
    width: 50%;
    float: left;
    padding: 60px;
}
.about i {
    color: var(--yellow);
    font-size: 3rem;
    padding-bottom: 20px;
}
.about h2, .about p {
    margin-bottom: 20px;
}
.about button {
    background: transparent;
    border: 2px solid var(--yellow);
    color: var(--yellow);
}
.about button:hover {
    background: var(--yellow);
    color: var(--text);
}

/* products */
.clearfix {
    clear: both;
    border-bottom: 1px solid lightgray;
}

.products article:nth-child(1) div:nth-child(1) {
    background-image: url(img/mac.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    width: 40%;
    float: left;
    height: 50vh;
}

.products article:nth-child(1) div:nth-child(2),
.products article:nth-child(5) div:nth-child(2) {
    width: 60%;
    float: left;
    height: 50vh;
    padding: 7%;
}

.products article:nth-child(3) div:nth-child(1) {
    float: left;
    width: 60%;
    height: 50vh;
    padding: 7%;
}

.products article:nth-child(3) div:nth-child(2) {
    width: 40%;
    float: right;
    height: 50vh;
    background-image: url(img/ipad.jpg);
    background-position: center;
    background-size: cover;
}

.products article:nth-child(5) div:nth-child(1) {
    background-image: url(img/iphone.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    width: 40%;
    float: left;
    height: 50vh;
}

.products h3::after,
footer h3::after {
    display: block;
    content: "";
    height: 4px;
    width: 80px;
    background: var(--text);
    margin: 30px 0;
}
.products h3 {
    font-size: 2rem;
}

/* cta */
.cta {
    padding: 100px 0;
    text-align: center;
    background: var(--yellow);
}
.cta h2 {
    font-size: 3rem;
}
.cta h2::after {
    background: var(--text);
}
.cta button {
    background: var(--purple);
    color: var(--white);
    transition: var(--transition);
}
.cta button:hover {
    background: var(--text);
    color: var(--white);
}

/* footer */
footer {
    padding: 60px;
    background: var(--text);
    color: var(--white);
}
footer h3::after {
    background: var(--yellow);
}
footer article:first-child {
    float: left;
    width: 55%;
}
footer article:last-child {
    float: right;
    width: 40%;
}
footer::after {
    display: block;
    content: "";
    clear: both;
}
footer button {
    background: transparent;
    border: 2px solid var(--yellow);
    color: var(--yellow);
}
footer button:hover {
    background: var(--yellow);
    color: var(--text);
}
footer ul {
    list-style: none;
    line-height: 2;
}
footer a {
    text-decoration: none;
    color: var(--white);
}
footer a:hover {
    color: var(--yellow);
}